@media only screen and (max-width: 767px) {

  body {
    background-color: whitesmoke;
  }

  .steppenwolf {
    text-align: center;
    margin: auto;
  }

  #wHiScoHeading {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  #wHiScoFooter {
    text-align: center;
    margin-top: 15px;
    font-size: 8px;
    font-weight: bold;
  }
}

body {
  background-color: whitesmoke;
}

.steppenwolf {
  text-align: center;
  margin: auto;
}

#wHiScoHeading {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
}

#wHiScoFooter {
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
  font-weight: bold;
}
